WZP_GUEST_IS_HOME=/opt/softwareag/IntegrationServer
WZP_GUEST_PACKAGES_FOLDER=${WZP_GUEST_IS_HOME}/packages
WZP_MSR_CONTAINER_IMAGE=ibmwebmethods.azurecr.io/webmethods-microservicesruntime
# WZP_MSR_CONTAINER_TAG=10.15.0.19-ubi
WZP_MSR_CONTAINER_TAG=11.1.0.9
