# User MUST provide

WZP_GUEST_INJECTED_CERTS_MOUNT_POINT=/mnt/injected/certs
WZP_GUEST_INJECTED_CONFIG_MOUNT_POINT=/mnt/injected/config

# WZP_HOST_MSR_LICENSE_FILE_LOCATION=C:\v\k\wm\lic\Exp29\IBM_LNX_10\MicroservicesRuntime_100.xml

# User MAY provide

WZP_MFT_DCC_CONTAINER_IMAGE=ibmwebmethods.azurecr.io/webmethods-activetransfer-dcc
WZP_MFT_DCC_CONTAINER_TAG=11.1.0.4

WZP_MFT_DEV_CONTAINER_IMAGE=ibmwebmethods.azurecr.io/webmethods-activetransfer
WZP_MFT_DEV_CONTAINER_TAG=11.1.0.4

# Guest IS related folders. Mind the dependencies!
WZP_GUEST_IS_HOME=/opt/softwareag/IntegrationServer/instances/default
WZP_GUEST_PACKAGES_FOLDER=${WZP_GUEST_IS_HOME}/packages
WZP_GUEST_LOGS_FOLDER=${WZP_GUEST_IS_HOME}/logs

WZP_GUEST_MOUNT_POINT_APPLICATION_PROPERTIES=/mnt/application.properties
# WZP_GUEST_MOUNT_POINT_LICENSE_FILE=/mnt/msr-license.xml

WZP_PORT_PREFIX=425

IS_ADMIN_PWD=NotManage

# Settings for the databse
WZP_POSTGRES_IMAGE=postgres:18

WZP_POSTGRES_USER=postgres
WZP_POSTGRES_PASS='Pas,sword1'

WZP_WM_DB_NAME=webmethods
WZP_WM_DB_USER_NAME=webmethods
WZP_WM_DB_USER_PASS='Pas,sword2'

WZP_WM_ARCHIVE_DB_NAME=wmarchive
WZP_WM_ARCHIVE_DB_USER_NAME=wmarchive
WZP_WM_ARCHIVE_DB_USER_PASS='Pas,sword3'

# mind that the below folder may depend on the above image
# use docker inspect ${WZP_POSTGRES_IMAGE} to determine the correct mountpoint value
WZP_POSTGRES_DATA_MOUNT_POINT=/var/lib/postgresql

## Settings for Database Component Configurator (DCC aka DBC aka DBCC)
WZP_DBC_SCRIPTS_MOUNT_POINT=/mnt/scripts
WZP_DBC_WM_HOME=/opt/softwareag

WZP_TEST_PK_SECRET='$om3-secret-string'
