<html>
  <head>
    <title>Shhh .. Do not tell anyone!</title>
    <style> 
        body {
            background-color: white;
        }
        table {
            padding: auto;
            border-width: 2px;
            border-color: orange;
            border-style: double;
        }
        tr {
            padding: auto;
        }
        tr:nth-child(even) {
            background-color: Lightgreen;
        }
    </style>
  </head>
  <body>
    <h1>Secrets jealously hidden on this server</h1>


    <table>
        <tr><th>Handle name (key)</th><th>Password (value)</th></tr>
        %loop OutboundPasswords%
        <tr>
            <td>%value key%</td>
            <td>%value value%</td>
        </tr>
        %end loop%
    </table>

  </body>
</html>
